body{
    text-align: center;
    width: 500px;
    margin: 20 auto;
	
}

/****************************************/
/************** CONTAINERS **************/
/****************************************/

.main-container{
	max-width:960px;
	margin: 20 auto;	
    background-color:#f1f1f1;
	color: #333;
	
}

.left{
	text-align:left;
	margin-left:30px;
	padding-top:20px;
}

.header-container{
	max-width:960px;
	padding:20px;
	margin: 0 auto;
}

.footer-container{
	width:960px;
	margin: 0 auto;
}
